// Define variables for your color scheme
$brand-color: #D23333;
$accent-color: purple;
$accent-color: $brand-color;
$border-color: #DBDBDB;
$light-bg: #ECECEC;

// Text
$text-dark: #545454;
$text-grey: #484848;
$text-light: #A6A6A8;

$body-bg:                 white;
$body-bg-grey:            #ecf0f1;
$font-size-base:          $base-size;
$line-height-base:        $base-height;
// $headings-font-family:    $header-font;
$border-color:            #E6E6E6;



// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
