// Specific CSS for your home-page

body {
  // background-image: linear-gradient(to right, $regal-blue, $san-juan);
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // height: 100vh;
  font-family: $open-sans;
  background: #141414;
  color: white;
}

* {
  box-sizing: border-box;
}

h4 {
  color: white;
  margin-bottom: 0;
}

.page-wrapper {
  min-height: calc(100vh - 100px);
  // height: 100%;
  overflow: auto;
}
