<div class="results-container">
  <% Pub.all.each do |pub| %>
      <div class="col-xs-12 col-sm-6">
        <%= render pub %>
      </div>
    <% end %>
</div>

<div
  id="map"
  class="search-map"
></div>
