<div class="banner">
  <div class="banner-content">
    <h1 id="banner-text">pubcrawler</h1>
    <p>Discover the best cocktail bars in the world</p>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
<%= icon("fas", "chevron-down") %>
