<%= render 'shared/banner' %>

<div class="container">
  <section id="section-one">
    <h4>LISBON</h4>
    <div class="row">
      <% @pubs.each do |pub| %>
        <div class="col-xs-12 col-sm-4">
          <%= render pub %>
        </div>
      <% end %>
    </div>
  </section>
</div>


