.footer {
  background: #14141414;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #808080;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #808080;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}
.footer .fa-heart {
  color: #D23333;
}
