.form-control[readonly],
.form-control {
  border:none;
  padding:15px 20px;
  background:rgba(255,255,255,.1);
  color: white;
}

.inline_field_wrapper {
    display: inline-block;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input:disabled {
  cursor: not-allowed !important;
}
